<html>
<head>
<title>Python Coach</title>
</head>
<body>
<p id="task">{{ task }}</p>
<iframe src="https://trinket.io/embed/python3/3ace97ccbaa3" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
<form id="help_form" action="" method="POST" novalidate>
{{ form.hidden_tag() }}
{{ form.code }}
{{ form.submit }}
</form>
{% if help_text %}
<p id="help_text">{{ help_text }}</p>
{% else %}
<p id="help_text">Holder Text</p>
{% endif %}
<script>
document.querySelector("#help_form").addEventListener('submit', function(e) {
    text_lines = "";
    lines = document.getElementsByClassName("ace_line")
    for (const line of lines)
        text_lines += line.textContent + "\n"
    form.code.data = text_lines
});
</script>
</body>
</html>